* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    text-align: center;
    padding: 20px;
    width: 100%;
    max-width: 600px;
}

h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.subtitle {
    color: #666;
    margin-bottom: 20px;
    line-height: 1.4;
}

.mascot {
    width: 140px;
    max-width: 45vw;

    animation: breathe 4s ease-in-out infinite;
}

/* dýchání maskota */
@keyframes breathe {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.05); }
}

.counter {
    margin-top: 20px;
    color: #777;
    font-size: 16px;
}

.counter span {
    display: block;
    font-size: 26px;
    color: #222;
    margin-top: 5px;
}

.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.btn-outline {
    border: 2px solid #222;
    padding: 12px 25px;
    text-decoration: none;
    color: #222;
    transition: 0.3s;
}

.btn-outline:hover {
    background: #222;
    color: white;
}

.btn-filled {
    background: #222;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    transition: 0.3s;
}

.btn-filled:hover {
    opacity: 0.85;
}

.disclaimer {
    margin-top: 20px;
    font-size: 12px;
    color: #aaa;
}
